body {
  font-family: sans-serif;
  height: 100%;
  /* background-color: red; */
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#data {
  display: flex;
  flex-direction: column;
}

.banner {
  align-self: center;
}

.flex {
  display: flex;
}
.fd-row {
  flex-direction: row;
}

.fd-col {
  flex-direction: column;
}

.center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.center-self {
  align-self: center;
}

button {
  width: 20 rem;
}

#game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: green;
  flex-direction: column;
  max-width: 80%;
}

.game-row {
  flex-direction: row;
  display: flex;
  background-color: blue;
  border: 1px dashed purple;
  /* justify-content: space-around; */
}

.game-col {
  flex-direction: column;
  /* background-color: white; */
  border: 1px solid grey;
  flex-grow: 1;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-circle {
  flex-direction: row;
  flex-grow: 1;
  height: 80%;
  width: 85%;
  /* padding: 1% 0.5% 0.5% 5%; */
  border-radius: 100%;
  background-color: black;
  z-index: 10;
}

div[data-color="1"] {
  background-color: gold;
}

div[data-color="0"] {
  background-color: red;
}

#currently-selected {
  text-transform: uppercase;
}
